{% extends 'base.html'%}
{% block title %}
    FAQs - Quran Online
{% endblock%}
{% block content %}
<div class="wrapper">
    <div class="heading-container">
        <h1>FAQs</h1>
    </div>
    <div class="faq-container">
        <div class="faq">
            <div class="faq-heading">
                <h3>How can I take the classes?</h3>
            </div>
            <div class="faq-body">
                <p>Your classes will be hosted via video calls on Whatsapp or Skype. You can change the medium in the future.</p>
            </div>
        </div>

        <div class="faq">
            <div class="faq-heading">
                <h3>Will there be any discounts?</h3>
            </div>
            <div class="faq-body">
                <p>Yes, we offer 20% discount on 2 students in our Regualar Plan and 30% discount on 3 students in our Premium plan. <a href="/#pricing">View Plans</a> </p>
            </div>
        </div>

        
        <div class="faq">
            <div class="faq-heading">
                <h3>How many classes will be there in a month?</h3>
            </div>
            <div class="faq-body">
                <p>The number of classes depends on the package you choose. Please checkout our <a href="/#pricing">pricing plans</a> for more info.</p>
            </div>
        </div>

        
        <div class="faq">
            <div class="faq-heading">
                <h3>Is it possible to change my tutor?</h3>
            </div>
            <div class="faq-body">
                <p>Yes, it is possible to change your tutor between courses. Just let us know.</p>
            </div>
        </div>

       
        

        
    </div>
</div>
{% endblock %}