{% extends 'base.html'%}
{% block title %}
    FAQs - Quran Online
{% endblock%}
{% block content %}
<div class="wrapper">
    <div class="heading-container">
        <h1>FAQs</h1>
    </div>
    <div class="faq-container">
        <div class="faq">
            <div class="faq-heading">
                <h3>How can I take the classes?</h3>
            </div>
            <div class="faq-body">
                <p>Your classes will be hosted via video calls on Whatsapp or Skype. You can change the medium in the future.</p>
            </div>
        </div>

        <div class="faq">
            <div class="faq-heading">
                <h3>Will there be any discounts?</h3>
            </div>
            <div class="faq-body">
                <p>Yes, we offer 20% discount on 2 students in our Regualar Plan and 30% discount on 3 students in our Premium plan. <a href="/#pricing">View Plan.</a> </p>
            </div>
        </div>

        
        <div class="faq">
            <div class="faq-heading">
                <h3>How many classes will be there in a month?</h3>
            </div>
            <div class="faq-body">
                <p>It perfectly depends on the type of online Quran course and packages you choose. Typically, you will get 12 to 20 classes per month depending on the type of package you choose</p>
            </div>
        </div>

        
        <div class="faq">
            <div class="faq-heading">
                <h3>Can I Replace My Tutor During An Online Quran Program??</h3>
            </div>
            <div class="faq-body">
                <p>If you are not satisfied with the teacher you are provided with, no worries. Simply get in touch with us and we will replace the tutor for you to help you understand better.</p>
            </div>
        </div>

       
        

        
    </div>
</div>
{% endblock %}