{% extends 'base.html'%}
{% block title %}
    Your Trial Application Was Received - Quran Online
{% endblock %}
{% block content %}
    <div class="success-box">
        <div class="success-message">
            <div class="success-heading">
                <h1>Your Application Was Sent Successfuly</h1>
            </div>
            <div class="success-body">
                <p>Your Trial Application is being processed. Our representative will contact you soon with more information. Thank You for Choosing Quran Online.</p>
            </div>
        </div>
    </div>
{% endblock %}